/* Add a black background color to the top navigation */
#topblock{
  display: grid;
  grid-template-columns: 1fr;
  display: flex;
  justify-content: center;
  
}


.topnav {
  border-radius: 0px 0px 6px 6px;
  top: 0px;
  position: absolute;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: rgba(0, 0, 0, .55);
  color: #a55539;

}

/* Style the links inside the navigation bar */
.topnav a {
  border-radius: 0px 0px 6px 6px;
  float: left;
  color: #dedede;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 20px;
}
/* Change the color of links on hover */
.topnav a:hover {
  border-radius: 0px 0px 6px 6px;
  background-color: #FFEBC9;
  color: black;
}
/* Add a color to the active/current link */
.topnav a.active {
  border-radius: 0px 0px 6px 6px;
  background-color: #B05B3B;
  color: white;
}

body {
  background-image: url('../img/sunrise-gea6b3863f_1920.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font-family: 'Trebuchet MS', sans-serif;
  color: white;
}
#main {
  margin-top: 90px;
  display: grid;
  grid-template-columns: 1fr 7fr 1fr;
}
#mainbody{
  
  grid-column-start: 2;
  background-color: rgba(0, 0, 0, .55);
  border-radius: 25px;

}
#maincontent{
  padding: 100px 150px;
}


#introduction{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}
#padding{
  margin-top: 100px;
}

.center {
  width: 300px;
  height: 300px;
  border-radius: 50px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#listing{
  display: grid;
  grid-template-columns: 1fr 1fr;

}
.listing2{
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.aligningp1{
  display: flex;
  align-items: center;
  justify-content: center;
}
.right {
  width: 300px;
  height: 300px;
  border-radius: 50px;
  display: block;
  margin-left: auto;
}
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 1px solid #ccc; 
  border-radius: 4px; 
  box-sizing: border-box; 
  margin-top: 6px;
  margin-bottom: 16px; 
  resize: vertical 
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
  background-color: #B05B3B;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=abgeben]:hover {
  background-color: #B05B3B;
}

/* Add a background color and some padding around the form */
.container_kontakt {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  color: #000000;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#map{
  
  width: 100%;
  height: 100%;
}